* {
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    height: 60px;
    border-bottom: black solid;
    background: lightblue;
}

.title h1{
    position: absolute;
    top: 5%;
    left: 1%;
    transform: translate(-1%,-50%);
}

.home {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 45%;
    transform: translateX(-45%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.home p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home:hover {
    filter: brightness(105%);
}

.hub1 {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 55%;
    transform: translateX(-55%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.hub1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hub1:hover {
    filter: brightness(105%);
}

.hub2 {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 65%;
    transform: translateX(-65%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.hub2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hub2:hover {
    filter: brightness(105%);
}

.updates {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translateX(-75%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.updates p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.updates:hover {
    filter: brightness(105%);
}

.events {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 85%;
    transform: translateX(-85%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.events p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.events:hover {
    filter: brightness(105%);
}

.featuredgames {
    width: 125px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 95%;
    transform: translateX(-95%);
    font-size: 1.5em;
    color: black;
    background-color: lightblue;
}

.featuredgames p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.featuredgames:hover {
    filter: brightness(105%);
}

.container {
    background-color: navajowhite;
    height: 100vh;
}

.container .heading {
    height: 200px;
    text-align: center;
    top: 40%;
    transform: translateY(40%);
}

.container img {
    width: 200px;
    height: 200px;
}

.container .game1 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game1 h1{
    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-25%, -62%);
    color: black;
}

.container .game2 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game2 h1{
    position: absolute;
    top: 98%;
    left: 25%;
    transform: translate(-25%, -98%);
    color: black;
}

.container .game3 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game3 h1{
    position: absolute;
    top: 135%;
    left: 25%;
    transform: translate(-25%, -135%);
    color: black;
}

.container .game4 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game4 h1{
    position: absolute;
    top: 172%;
    left: 28%;
    transform: translate(-28%, -172%);
    color: black;
}

.container .game5 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game5 h1{
    position: absolute;
    top: 208%;
    left: 25%;
    transform: translate(-25%, -208%);
    color: black;
}

.container .game6 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game6 h1{
    position: absolute;
    top: 245%;
    left: 25%;
    transform: translate(-25%, -245%);
    color: black;
}

.container .game7 {
    height: 200px;
    background-color: white;
    border: black solid;
}

.container .game7 h1{
    position: absolute;
    top: 282%;
    left: 25%;
    transform: translate(-25%, -282%);
    color: black;
}

